ul {
  border: 1px solid: green;
  background-color:green
}

h3-p {
  font-size: 40pt; font-family: "Lobster", serif;
}


h1{
  width: 2000
}

.container {
  padding: 2rem 0rem;
}

.c-container {
  background-color: $grey;
  border-radius: 0.5rem;
  padding: 1.2rem 1.2rem;
  margin: 1rem 1rem;
}

h4 {
  margin: 2rem 0rem;
}

.buttons {
  margin-bottom: 2rem;
}


* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
	width: 100%;
    margin-top: 0;
  }
}

#img{display: flex; padding: 20px; margin: 0 auto; }
.col-sm{text-align: center; font-size: 20px;}

.leftcolumn {  float: left; width: 75%;}

.rightcolumn {  float: left;width: 25%;padding-left: 20px;}

#demo {text-align: center; font-family: 'Helvetica Neue', sans-serif; font-size: 20px; font-weight: bold;}
.fakeimg1 {  width: 100%;padding: 20px; content: url(wyndlogo.jpg);border-radius: 130px}
.fakeimg2 {  width: 100%;padding: 20px; content: url(fake1.jpg);border-radius: 130px}
.fakeimg3 {  width: 100%;padding: 20px; content: url(fake2.jpg);border-radius: 130px}
.fakeimg4 {  width: 100%;padding: 20px; content: url(fake3.jpg);border-radius: 130px}

.card {padding: 20px;margin-top: 20px; text-align: center; align-items: center;}

.row:after {content: "";display: table; clear: both;
}



@media screen and (max-width: 800px) {.leftcolumn, .rightcolumn {   width: 100%;padding: 0;}}

@media screen and (max-width: 400px) {.topnav a {  float: none;  width: 100%;}}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;}

.fa:hover {  opacity: 0.7;}

.fa-facebook {  background: #3B5998;  color: white;}

.fa-twitter {  background: #55ACEE;  color: white;}

.fa-youtube {  background: #bb0000;color: white;}

marquee {text-shadow: 0.05em 0.05em #A59FA9; color: #000000; font-size: 50px; font-family: 'Helvetica Neue', sans-serif;}
